#modal-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  height: 100vh;
  justify-content: space-between;
  align-items: center;
  /* max-width: 1200px; */
  margin-left: calc(var(--margin-l)*2);
  margin-right: calc(var(--margin-l)*2);
}
@media screen and (min-width: 720px) {
  #modal-container {
    margin-left: calc(var(--margin-l)*4);
    margin-right: calc(var(--margin-l)*4);
  }
}
#left,
#right {
  /* height: 80vh;
  width: 40vw; */
  flex: 1 1 400px;
}
#right {
  max-width: 720px;
}
#right > img {
  width: 100%;
  height: auto;
}
#left #heading-text {
  font-size: var(--font-size-l);
  font-family: "Gilroy-Regular";
  color: var(--text-color);
  font-style: normal;
  max-width: 400px;
}
#left #heading-text span {
  font-style: italic;
}

#left #exclusive-text {
  font-family: "GilroyBold";
  font-weight: 500;
  font-size: 32px;
  line-height: 110%;
  /* or 35px */

  background: linear-gradient(
    120.72deg,
    #7d4702 -1.51%,
    #fdd265 57.83%,
    #683e08 102.06%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

#left .titles h3 {
  font-family: "GilroyBold";
  font-size: var(--font-size-xl);
  line-height: 60%;
  /* or 72px */
  color: var(--text-color);
}

.try-again {
  display: block;
  width: fit-content;
  margin-top: var(--margin-m);
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 150%;
  /* identical to box height, or 30px */
  text-align: center;
  color: var(--cta);
  cursor: pointer;
}
/**
#modal-container main {
  width: 50vw;
  min-height: 200px;
  padding: 50px;
  position: relative;
  border-radius: 50px;
  text-align: center;
  background-color: whitesmoke;
  border: 2px solid rgba(28, 28, 28, 0.5);
  color: var(--theme-complementary);
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
}
**/
