@font-face {
  font-family: "Gilroy-Regular";
  src: local("Gilroy"), url("./Gilroy-Regular/Gilroy-Regular.ttf");
}
@font-face {
  font-family: "Gilroy";
  src: local("Gilroy"), url("./Gilroy-Medium/Gilroy-Medium.ttf");
}
@font-face {
  font-family: "GilroyBold";
  src: local("GilroyBold"), url("./Gilroy-SemiBold/Gilroy-SemiBold.ttf");
}
/* Variable/Responsive Fonts */
* {
  --font-size-m: 18px;
  --font-size-l: 20px;
  --font-size-xl: 32px;

  --margin-m: 18px;
  --margin-l: 24px;
  --margin-xl: 36px;

  --padding-m: 12px;
  --padding-l: 20px;
  --padding-xl: 30px;
}
@media screen and (min-width: 720px) {
  * {
      --font-size-m: 18px;
      --font-size-l: 28px;
      --font-size-xl: 38px;

      --margin-m: 18px;
      --margin-l: 24px;
      --margin-xl: 36px;

      --padding-m: 16px;
      --padding-l: 24px;
      --padding-xl: 36px;
    }
}
@media screen and (min-width: 1024px) {
    * {
      --font-size-xl: 42px;
  }
}

:root {
  --background: #040c10;
  --text-color: #ffffff;
  --cta: #0D99FF;
}
button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.call-to-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 28px;
  font-size: 24px;
  font-family: "Gilroy";
  color: var(--text-color);
  width: 100%;
  max-width: 388px;
  background: var(--cta);
  border-radius: 50em;
  cursor: pointer;
}
.iconify {
  display: block;
  margin-left: var(--margin-m);
}

.call-to-action:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}